.red {
  background-image: url('redeye.jpg');
  background-position: center;
  background-repeat: no-repeat;
  
}

.yellow {
  background-color: #f9ff45;
}

.blue {
  background-color: #0596de;
}

.green {
  background-color: #1cf540;
}

.purple {
  background-color: #9e056b;
}

.block {
  border-radius: 15px;
  width: 60px;
  height: 60px;
  margin: 0px;
  border: 0px;
  overflow: hidden;
}

.block img {
  width: 60px;
  height: 60px;
}

.disappear {
  display: none;
}

.bomb {
  background-image: url('bomb.png');
}

.thunder {
  background-image: url('thunder.png');
}

.multiColor {
  background-image: url('multicolor.png');
}

.clicked{
  -webkit-box-shadow: 0px 0px 22px rgba(255, 255, 255, 0.72);
  -moz-box-shadow:    0px 0px 22px rgba(255, 255, 255, 0.72);
  box-shadow:         0px 0px 22px rgba(255, 255, 255, 0.72);
  animation: onClick 1s ease;
  -webkit-animation: onClick 1s ease;
}

@keyframes onClick
{
from {box-shadow:         0px 0px 0px rgba(255, 255, 255, 0.72);}
to   {box-shadow:         0px 0px 22px rgba(255, 255, 255, 0.72);}
}

@-webkit-keyframes onClick
{
from {box-shadow:         0px 0px 0px rgba(255, 255, 255, 0.72);}
to   {box-shadow:         0px 0px 22px rgba(255, 255, 255, 0.72);}
}
