#frame, .block, .score, .score2, header, .rank, .button, .time, .timeline, .number, .shield, .start, .pumpkingL, .batfly, .pumpkingR, .outBorder, .copyright, .output, .bat, .batShield, .scoreShow, #scoreNum {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;  
  position: absolute;
  margin: 0;
}

body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgb(255,125,0);
}

header{
  top: 0;
  left: 0;
  width: 100%;
  height: 150px;
  padding-top: 10px;
  background: black;
}

header > img {
  height: 130px;
}

.copyright {
  left: 0;
  width: 100%;
  height: 110px;
  padding-top: 20px;
  background: black;
  color: white;
  font-size: 14px;
  text-align: center;
  font-family: sans-serif;
}

.shake {
  animation: shakes 0.2s ease infinite;
  -webkit-animation: shakes 0.2s ease infinite;
}

.shakeB {
  animation: shakesB 0.1s infinite;
  -webkit-animation: shakesB 0.1s infinite;
}

@keyframes shakes
{
0%    {transform: rotate(3deg);}
20%   {transform: rotate(0deg);}
50%   {transform: rotate(-3deg);}
80%   {transform: rotate(0deg);}
100%% {transform: rotate(3deg);}
}

@-webkit-keyframes shakes
{
0%    {-webkit-transform: rotate(3deg);}
20%   {-webkit-transform: rotate(0deg);}
50%   {-webkit-transform: rotate(-3deg);}
80%   {-webkit-transform: rotate(0deg);}
100%% {-webkit-transform: rotate(3deg);}
}

@keyframes shakesB
{
0%    {transform: rotate(5deg);}
20%   {transform: rotate(0deg);}
50%   {transform: rotate(-5deg);}
80%   {transform: rotate(0deg);}
100%% {transform: rotate(5deg);}
}

@-webkit-keyframes shakesB
{
0%    {-webkit-transform: rotate(5deg);}
20%   {-webkit-transform: rotate(0deg);}
50%   {-webkit-transform: rotate(-5deg);}
80%   {-webkit-transform: rotate(0deg);}
100%% {-webkit-transform: rotate(5deg);}
}

.output {
  top: 150px;
  left: 0;
  width: 100%;
  background-color: rgb(255,125,0);
}

.rank {
  top: 55px;
  width: 400px;
  height: 484px;
  font-size: 30px;
  padding-left: 10px;
  padding-top: 10px;
}

.rank img {
  width: 400px;
}

#lastscore {
  top: 520px;
  width: 180px;
  transform: rotate(8deg);
  -webkit-transform:rotate(8deg);
}

#scoreNum {
  top: 607px;
  width: 100px;
  height: 40px;
  color: rgb(255,125,0);
  font-size: 20px;
  font-family: "Axure Handwriting", "Sniglet";
  text-align: center;
  padding: 0;
  transform: rotate(8deg);
  -webkit-transform:rotate(8deg);

}

#re2 {
  top: 550px;
  width: 180px;
  transform: rotate(-10deg);
  -webkit-transform:rotate(-10deg);
}

#re2:hover {
  transform: rotate(-20deg);
  -webkit-transform:rotate(-20deg);
  -animation: slip 0.1s ease-out;
  -webkit-animation: slip 0.1s ease-out;
}

@keyframes slip
{
from    {transform: rotate(-10deg);}
to      {transform: rotate(-20deg);}
}

@-webkit-keyframes slip
{
from    {-webkit-transform: rotate(-10deg);}
to      {-webkit-transform: rotate(-20deg);}
}


.output>img {
  position: absolute;
  top: 40px;
  width: 540px;
}

#monster4 {
  top: 60px;
  width: 590px;
}

#monster3 {
  width: 450px;
}



#input, #sbmt, #bloodSubmit, #monsterShadow {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;  
  position: absolute;
  margin: 0;
}

#input {
  top: 450px;
  width: 160px;
  height: 50px;
  border: 5px inset #363636;
  border-radius: 10px;
  font-size: 30px;
}

#sbmt, #bloodSubmit {
  top: 260px;
  width: 110px;
}

#monsterShadow {
  width: 540px;
  top: 40px;
}