.outBorder {
  top: 230px;
  width: 952px;
  height: 544px;
}

#frame, .shield {
  top: 0;
  left: 0;
  width: 892px;
  height: 484px;
  border-radius: 10px;  
  background-color: #360505;
  overflow: hidden;
}

.shield {
  background-color: rgba(0, 0, 0, 0.8);
}

.button {
  top: 10px;
  left: 902px;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: #360505;
  font-size: 20px;
  text-align: center;
  padding-top: 12px;
  color: white;
}

#restart {
  top: 70px;
  font-size: 19px;
}

#mute {
  top: 130px;
}

.score{
  top: 494px;
  left: 692px;
  width: 200px;
  height: 40px;
  padding-left: 20px;
  padding-top: 5px;
  padding-right: 10px;
  border-radius: 10px;
  background-color: black;
  text-align: right;
  font-size: 30px;
  color: white;
}

.timeline {
  top: 492px;
  left: 0px;
  width: 682px;
  height: 10px;
  background-color: black;
}

.number, .start {
  top: 200px;
  left: 296px;
  width: 300px;
  height: 84px;
  text-align: center;
  color: white;
  font-size: 50px;
}

.start {  
  border-radius: 10px;
  background-color: orange;
  color: white;
  font-size: 50px;
  padding-top: 10px;
}

.bat {
  top: 501px;
  height: 80px;
  width: 80px;
}